<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>random</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/0.17.7/vuetify.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/vuetify@1.0.16/dist/vuetify.min.css">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container>
            <v-form v-model="valid">
              <v-text-field label="Min" v-model="min" :rules="num" required></v-text-field>
              <v-text-field label="Max" v-model="max" :rules="num" required></v-text-field>
              <v-btn @click="rand()" :disabled="!valid">
                randomize
              </v-btn>
              <v-subheader v-if="random !=='' && random !== false">{{ random }}</v-subheader>
            </v-form>
          </v-container>
        </v-content>
      </v-app>
    </div>
    <script>
        new Vue({
          el: '#app',
          data() {
            return {
              valid: false,
              random: false,
              min: 0,
              max: 101,
              num: [
                (v) => v !== '' || "required",
                (v) => v >= 0 || "NaN",
                () => this.vl || "equality error",
              ],
            }
          },
          methods: {
            toInt(str) {
                return parseInt(str, 10);
              },
              getRandomInt(_min, _max) {
                let min = parseInt(_min, 10);
                let max = parseInt(_max, 10);
                let rand = Math.floor(Math.random() * (max - min)) + min;
                return rand;
              },
              rand() {
                this.random = this.getRandomInt(this.min, this.max);
              }
          },
          computed: {
            vl() {
                return this.toInt(this.max) > this.toInt(this.min);
              },
              vr() {
                return {
                  valid: this.valid,
                  random: this.random,
                  min: this.min,
                  max: this.max,
                  vl: this.vl,
                }
              }
          }
        })
    </script>
  </body>
</html>

